body {
    background-color: whitesmoke;
    color: #1c1c1c;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #d5f2dd;
}

h1, h2, h4 {
    background-color: #0c4466;
    margin: 10px;
}

h1 {
    font-size: 55px;
    margin: 10px;
}

h3 {
    font-size: 30px;
    margin: 10px;
}

ul {
    margin-top: 10px;
}

img {
    width: 390px;
    height: 380px;
    float: left;
    margin-right: 20px;
    border: 5px solid #0c4466;
}

.small {
    width: 300px;
    height: 200px;
    margin: auto;
}

.card {
    background-color: #0c4466;
    color: black;
    text-align: center;
    margin: auto;
}

html {
    font-size: 20px;
}

.border {
    border: 2px solid #0c4466;
    margin-top: auto;
}

.button {
    font-size: 15px;
    padding: 12px;
    border: 2px solid #0c4466;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin: auto;
}

.primary {
    background-color: rgb(174, 174, 174);
    color: black;
}

.secondary {
    background-color: rgb(163, 34, 34);
    color: white;
}

.button:hover {
    background-color: rgb(91 91 91)
}


.hidden {
    display: none;
}

.container {
    display: flex;
    background-color: rgb(229 229 229);
    align-self: flex-start;
    gap: 20px;
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 18px;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
}

dialog {
    padding: 20px;
    text-align: center;
    border: 2px solid #0c4466;
    background-color: rgb(168 197 207);
    max-width: 455px;
    height: auto;
    font-size: 15px;
}

.topleft {
    margin-top: 61px;
    margin-left: 450px;
}

.topright {
    margin-top: 61px;
    margin-right: 21px;
}
/*this is comment*/
/*this is comment*/
